
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1b2838;
    color: #c7d5e0;
}

a {
    color: #1a9fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.site-header {
    background-color: #0f141b;
    border-bottom: #2a3744 2px solid;
}

.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 16px;
}

.main-nav a {
    margin: 6px;
    font-weight: bold;
    font-size: 14px;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.content-header {
    border-bottom: #2a3744 1px solid;
    background-color: #2a3744;
}
.second-nav a {
    margin: 0 10px;
    font-size: 13px;
}

.content-section {
    padding: 20px 16px;
    margin: 0 auto;
    max-width: 1200px;
}
.game-price {
    margin-top: auto;
    font-size: 18px;
}

.game-card{
    position: relative;
    padding: 20px;
    flex: 1 1 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #171a21;
    border-radius: 5%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: 1px solid #2a3744;
}

.game-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.game-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.sale{
    color: #66c0f4;
    font-weight: bold;
    margin-right: 10px;
}

.discount-price {
    color: #66c0f4;
    font-weight: bold;
}

.original-price {
    margin-top: auto;
    font-size: 16px;
    text-decoration: line-through;
}


.search-bar input::placeholder {
    color: #9da5b1;
}

.search-bar .btn:hover {
    background-color: #66c0f4;
    color: #0f141b;
}


